.container{
    display: grid;
    grid-template: repeat(10,1fr)/repeat(10,1fr);
    height:100vh;
    border-radius: 50px;
    background: linear-gradient(225deg, #d1cfd7, #e8e6f0);
    box-shadow:  -20px 20px 60px #c9c7d0,
                 20px -20px 60px #d1c6f7;
}
.item-1{
    grid-column: 1/10;
    display: grid;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Sigmar', cursive;

}
.item-2{
    margin-top:2rem;
    display:grid;
    grid-column: 3/8;
    grid-row: 3/8;
    background-image:url(libro.jpg) ;
    background-size: top;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;

}

.item-3{
    display:grid;
    grid-column:3/8 ; 
    grid-row: 8/10;
    text-align: center;
    
}

.item-4{
    display:grid;
    text-align: center;
    font-size: bold;
}